#board {
    height: 80vh;
    width: 80vh;
    margin: 20px auto;
}

.piece_highlight {
    background-color: green !important;
}

.cannon {
    transform: rotate(45deg);
}

.last-move {
    background-color: rgba(255, 255, 0, 0.5); /* For future use */
}