body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(23, 21, 19)
}

#left_content {
    height: 90vh;
}

#lobby_link {
    margin-left: 3vh;
    text-decoration: none;
    outline: 1px solid black;
    font-size: 3vh;
    color: black;
    padding: 1vh;
    background-color: rgb(216, 216, 216);
}

#lobby_link:hover {
    background-color: rgba(216, 216, 216, 0.5);
}

#game_name {
    font-size: 3vh;
    font-weight: bold;
    margin-bottom: 10vh;
    margin-top: 25vh;
    text-align: center;
    color: rgb(216, 216, 216);
}

.seat_label, .seat {
    color: rgb(188, 188, 188);
}

#middle_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#board {
    display: flex;
    border: 2vh solid black;
    background-color: blue;
}

.column {
    display: flex;
    flex-direction: column-reverse;
    margin: 1vh;
}

.column:hover {
    background-color: rgba(0,0,0,0.2);
}

.space {
    width: 8vh;
    height: 8vh;
    border: 1vh solid black;
    border-radius: 50%;
    background-color: white;
    margin: 1vh;
}

#indicator {
    margin-top: 6vh;
}

.outcome {
    padding: 1.5vh;
    border: 0.5vh solid black;
    font-size: 5vh;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(216, 216, 216);
}

#chat_header {
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 3vh;
    box-sizing: border-box;
    background-color: rgb(38, 36, 33);
    color: rgb(188, 188, 188);
    border: 2px solid rgb(188, 188, 188);
}

#messages {
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 20vw;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 2vh;
    box-sizing: border-box;
    background-color: rgb(38, 36, 33)
}

#message_box {
    width: 100%; 
    box-sizing: border-box;
    background-color: rgb(38, 36, 33);
    color: rgb(188, 188, 188);
}

.sender {
    font-weight: bold;
    color: rgb(188, 188, 188);
}

.message {
    word-wrap: break-word;
    margin-bottom: 2rem;
    color: rgb(188, 188, 188);
}