body {
    justify-content: space-around;
    align-items: center;
}

#left_content {
    height: 90vh;
}

#middle_content {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#lobby_link {
    display: inline-block;
    margin-top: 1vh;
    margin-left: 3vh;
    text-decoration: none;
    outline: 1px solid black;
    font-size: 3vh;
    color: black;
    padding: 1vh;
    background-color: rgb(216, 216, 216);
}

#lobby_link:hover {
    background-color: rgba(216, 216, 216, 0.5);
}

#game_name {
    font-size: 3vh;
    font-weight: bold;
    margin-bottom: 10vh;
    margin-top: 25vh;
    text-align: center;
    color: rgb(216, 216, 216);
}

.seat_label, .seat {
    color: rgb(188, 188, 188);
    margin-right: 1vh;
}

.seat_button {
    background-color: rgb(216, 216, 216);
    border: 1px solid black;
}

.seat_button:hover {
    background-color: rgba(216, 216, 216, 0.5);
}

#resign {
    display: none;
}

#indicator {
    margin-top: 4vh;
}

.result {
    padding: 1.5vh;
    border: 0.5vh solid black;
    font-size: 5vh;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(216, 216, 216);
}

