body {
    display: flex;
    background-color: rgb(23, 21, 19);
    margin: 0;
}

#games_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
}

.header {
    width: 25vw;
    height: 8vh;
    font-size: 6vh;
    text-align: center;
    font-weight: bold;
    border: 1px solid black;
    background-color: grey;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

#games {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 80vh;
    width: 25vw;
    border: 1px solid black;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
    background-color: rgb(216, 216, 216);
    flex-grow: 1;
}

.game {
    flex: 0 0 auto;
    width: 25vw;
    height: 8vh;
    font-size: 3vh;
    text-align: center;
    align-content: center;
    font-weight: bold;
    text-decoration: none;
    color: maroon;
    border: 1px solid black;
    background-color: rgb(198, 198, 198);
}

.game:hover {
    background-color: rgba(154, 154, 154, 0.5);
    text-decoration: none;
}

#new_game_button {
    width: 25vw;
    height: 7vh;
    font-size: 3vh;
    font-weight: bold;
    background-color: maroon;
    font-family: 'Courier New', Courier, monospace;
    border: 1px solid black;
}

#new_game_button:hover {
    background-color: rgba(128, 0, 0, 0.8);
}

#game_link {
    margin-top: 10vh;
}

#new_game_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 15vw;
}

#new_game_form {
    display: flex;
    flex-direction: column;
}

#info {
    margin-top: 2.5vh;
    flex-grow: 1;
    padding: 5vh;
    color: rgb(188, 188, 188);
    text-align: center;
}

#info h1 {
    margin-bottom: 10vh;
}

#info p {
    margin-top: 1.7em;
    font-size: 1.1em;
}

#new_game_popup_overlay {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

#game_name {
    width: 25vw;
    height: 2em;
    font-size: 1em;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    border: 1px solid black;
    outline: none;
}

#new_game_submit {
    width: 70%;
    box-sizing: border-box;
    background-color: maroon;
    border: 1px solid black;
}

#new_game_submit:hover {
    filter: brightness(0.8);
}

#cancel_new_game {
    flex-grow: 1;
    box-sizing: border-box;
    background-color: rgb(72, 72, 72);
    border: 1px solid black;
}

#cancel_new_game:hover {
    background-color: rgb(72, 72, 72, 0.8);
}

#new_game_form {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(188, 188, 188);
    padding: 3vh;
}

#new_game_header {
    background-color: rgb(188, 188, 188);
    text-align: center;
    font-weight: bold;
    height: 5vh;
    font-size: 4vh;
    line-height: 50%;
    font-family: Arial, Helvetica, sans-serif;
}

#new_game_options {
    display: flex;
    flex-direction: row;
    width: 25vw;
}

a {
    text-decoration: none;
    color: maroon;
}

a:hover {
    text-decoration: underline;
}