/* see about refactoring since this overlaps with lobby.css */

body {
    display: flex;
    flex-direction: column;
}

#rules, #comments {
    margin-top: 2.5vh;
    flex-grow: 1;
    padding: 5vh;
    color: rgb(188, 188, 188);
}

#rules h1 {
    margin-top: 10vh;
}

#rules li, #comments div {
    margin-top: 1.7em;
    font-size: 1.1em;
}