{% extends "layout.html" %}

{% block head %}
    <title>{{ game.name }}</title>
    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/chat.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/game.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/board.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/chessboard-1.0.0.css') }}">
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='javascript/chessboard-1.0.0.js') }}" type="text/javascript"></script>
    {% if player is not none %}
        {% set rook_cannon = game.state.cannons[rook][player] %}
        {% set bishop_cannon = game.state.cannons[bishop][player] %}
    {% else %}
        {% set rook_cannon = none %} {% set bishop_cannon = none %}
    {% endif %}
    <script>
        const fen = "{{ game.state.board.fen() }}";
        const player = "{{ player }}";
        const is_active = "{{ game.state.is_active }}"
        let rook_cannon = "{{ rook_cannon }}", bishop_cannon = "{{ bishop_cannon }}";
    </script>
    <script src="{{ url_for('static', filename='javascript/chat.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='javascript/game.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='javascript/seats.js') }}" type="text/javascript"></script>
    
{% endblock %}

{% block body %}
    <div id="left_content"> 
        <a class="lobby_link" href="/">Back to lobby</a>
        <div id="game_name">{{ game.name }}</div>
        {% set players = ['Black', 'White'] %}
        {% for i in [1, 0] %}
            <div>
                <span class="seat_label">{{ players[i] }}:</span>
                <span class="seat">
                    {% if game.usernames[i] is none %}
                        Waiting...
                    {% else %}
                        {{ game.usernames[i] }}
                    {% endif %}
                </span>
            </div>
            <br><br><br>
        {% endfor %}
    </div>
    <div id="middle_content">
        <div id="board"></div>
        <div 
            id="game_options"
            {% if player is not none and game.state.is_active %} 
                style="display:block" 
            {% endif %}
        >
            {% for option in ["resign", "offer draw"] %}
                <button id="{{ option.replace(' ', '_') }}">{{ option }}</button>
            {% endfor %}
        </div>
        <div id="indicator" {% if game.state.outcome is not none %} class="result" {% endif %}>
            {% if game.state.outcome is not none %}
                {{ game.state.outcome }}
            {% endif %}
        </div>
    </div>
    <div id="right_content">
        <div id="chat_header">Chat</div>
        <div id="messages">
            {% for message in game.messages %}
                <span class="sender">{{ message["sender"] }}</span> 
                <span class="message">{{ message["content"] }}</span>
            {% endfor %}
        </div>
        <form id="chat_form">
            <input id="message_box" maxlength="300" autocomplete="off" placeholder="Type your message..."></input>
        </form>
    </div>
{% endblock %}