<!DOCTYPE html>

<html>
    <head>
        <title>{{ game["name"] }}</title>
        
        <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/game.css') }}">

        <script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
        <script src="{{ url_for('static', filename='javascript/game.js') }}" type="text/javascript"></script>
        <script src="{{ url_for('static', filename='javascript/chat.js') }}" type="text/javascript"></script>

        {% set colors = ['red', 'yellow'] %} 
    </head>

    <body>
        <div id="seats"> 
            {% for i in range(2) %}
                <div>
                    Player {{ i + 1 }}: 
                    <span class="seat">
                        {% if game["usernames"][i] is none %}
                            <button class="seat_button">Take seat</button>
                        {% else %}
                            {{ game["usernames"][i] }}
                        {% endif %}
                    </span>
                </div>
                <br><br><br>
            {% endfor %}
        </div>
        <div id="board_container">
            <div id="board">
                {% for column in range(7) %}
                    <div class="column">
                        {% for space in range(6) %}
                            {% set color = colors[game["board"][column][space]] %}
                            <div class="space" style="background-color: {{ color }};"></div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
            <div id="indicator">
                {% if game["outcome"] is none %}
                    {% set color = colors[game["whose_turn"]] %}
                    <div class="space" style="border-width: 0.5vh; background-color: {{ color }};"></div>
                {% else %}
                    {% set outcome = "Draw" if game["outcome"] == "draw" else "win" %} <!--INCOMPLETE REFACTORING-->
                    <div class="outcome">{{ outcome }}</div>
                {% endif %}
            </div>
        </div>
        <div id="chat_container">
            <div id="messages">
                {% for message in game["messages"] %}
                    <span class="sender">{{ message["sender"] }}</span> 
                    <span class="message">{{ message["content"] }}</span>
                {% endfor %}
            </div>
            <form id="chat_form">
                <input id="message_box" autocomplete="off"></input>
            </form>
        </div>
    </body>
</html>