<!DOCTYPE html>

<html>
    <head>
        <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/username.css') }}"></link>
        <script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
        <script src="{{ url_for('static', filename='javascript/username.js') }}" type="text/javascript"></script>
        {% block head %}{% endblock %}
    </head>

    <body>
        {% block body %}{% endblock %}

        <div id="username">
            <div>
                Your username: {{ username }}
                <button>Change</button>
            </div>
            <form method="post" autocomplete="off">
                <input name="new_username" placeholder="New username (no spaces)"></input>
            </form>
        </div>
    </body>
</html>